body {
  margin: 0;
}

.header {
}

.title {
  height: 78px;
  background-color: white;
}

.shortcuts {
  height: 62px;
  background-color: #f3f3f3;
}

.person {
  padding: 30px 20px;
  background-color: #c0e3e7;
}

.person {
  text-align: center;
}

.info__name {
}

.info__profession {
  color: #757575;
}

.avatar__photo {
  margin: auto;
  border-radius: 50%;
}

.social-media {
  padding: 0;
  list-style: none;
}

.social-media__icon {
  margin: 0 8px;
  display: inline-block;
  color: black;
}

.skills {
  padding: 0 20px;
}

.intro {
}

.intro__greeting {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
}

.intro__about {
  font-size: 16px;
}

.divider {
  border-bottom: 1px solid #e1e1e1;
}
